@using DniproFuture.Models
@using DniproFuture.Models.Extentions
@using PagedList.Mvc
@model PagedList.IPagedList<DniproFuture.Models.Projects>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h2>Проекты</h2>

    <p>
        <div class="btn btn-warning" onclick="location.href = '@Url.Action("Create", "Projects")';">
            Добавить проект
        </div>
    </p>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>


    <table class="table">
        <tr>
            <th>
                Название
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            ProjectsLocalSet local = item.ProjectsLocalSet.ElementAt(0);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => local.ProjectName)
                </td>
                <td class="col-md-4">
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Подробности", "ProjectDetails", "Home", new { title = local.ProjectName.GetStringForUrl() }, null) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>