<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="theme-color" content="#0D4A9A">
    <title>@ViewRes._LayoutStrings.LayoutTitle</title>
    <!-- Custom Fonts -->
    <link href="~/Content/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto&subset=cyrillic-ext,latin' rel='stylesheet' type='text/css'>
    <!--<link href='http://fonts.googleapis.com/css?family=Andika&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>-->
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top" class="index">
    @RenderBody()
    @*@Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/agency")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/lightboxJS")
    @Scripts.Render("~/bundles/mask")*@
    <script type="text/javascript" src="~/Scripts/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <script type="text/javascript" src="~/Scripts/agency.js"></script>
    <script type="text/javascript" src="~/Scripts/ekko-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.maskedinput.min.js"></script>

    @*@Styles.Render("~/Content/bootstrap")
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/flags")
        @Styles.Render("~/Content/lightboxCSS")
        @Styles.Render("~/Content/customBootstrap")*@

    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/agency.css" />
    <link rel="stylesheet" href="~/Content/css/flags.css" />
    <link rel="stylesheet" href="~/Content/css/ekko-lightbox.min.css" />
    <link rel="stylesheet" href="~/Content/css/bootstrap-datetimepicker.min.css" />


    @RenderSection("scripts", false)
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4>@ViewRes._LayoutStrings.FooterContacts</h4>
                    <div class="text-left col-md-12">
                        <ul class="list-unstyled">
                            <li>
                                Tel: 096-823-32-02; 099-119-43-05
                            </li>
                            <li>
                                E-mail: info@dniprofuture.dp.ua
                            </li>
                            <li>
                                Skype: dniprofuture
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="#"><i class="fa fa-vk"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <span class="copyright">ВоТаНа &copy; Майбутнє Дніпра 2015</span>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>