@{
    ViewBag.Title = "Admin";
}
<div class="container">
    <h2>Admin-ka</h2>

    <ul>
        <li>@Html.ActionLink("Почта", "Index", "Mails")</li>
        <li>@Html.ActionLink("Кому помочь", "Index", "NeedHelps1")</li>
        <li>@Html.ActionLink("Новости", "Index", "News")</li>
        <li>@Html.ActionLink("Проекты", "Index", "Projects")</li>
        <li>@Html.ActionLink("Партнеры", "Index", "Partners")</li>
    </ul>

</div>
