
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>


@Html.ActionLink("Почта", "Index", "Mails")
@Html.ActionLink("Кому помочь", "Index", "NeedHelps1")
@Html.ActionLink("Новости", "Index", "News")
@Html.ActionLink("Проекты", "Index", "Projects")
@Html.ActionLink("Партнеры", "Index", "Partners")