@using System.Diagnostics
@using DniproFuture.Models
@model DniproFuture.Models.NeedHelp

@{
    ViewBag.Title = "Подробности";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>Подробности</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                ФИО
            </dt>
            @foreach (NeedHelpLocalSet local in Model.NeedHelpLocalSet)
            {
                <dd>@string.Format("{0} {1} {2}", local.FirstName, local.Patronymic, local.LastName) - @local.Language.LanguageCode</dd>
            }
            <hr />

            <dt>
                Адрес
            </dt>
            @foreach (NeedHelpLocalSet local in Model.NeedHelpLocalSet)
            {
                <dd>@local.Address - @local.Language.LanguageCode</dd>
            }
            <hr />

            <dt>
                Информация
            </dt>
            @foreach (NeedHelpLocalSet local in Model.NeedHelpLocalSet)
            {
                <dd>@local.About - @local.Language.LanguageCode</dd>
                <hr />
            }

            <dt>
                Собрано
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sum)
            </dd>

            <dt>
                Нужно
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NeedSum)
            </dd>

            <dt>
                Дата рождения
            </dt>

            <dd>
                @Model.Birthday.ToShortDateString()
            </dd>

            <dt>
                Дата начала сбора
            </dt>

            <dd>
                @Model.StartDate.ToShortDateString()
            </dd>

            @if (Model.FinishDate.HasValue)
            {
                <dt>
                    Дата окончания сбора
                </dt>

                <dd>
                    @Model.FinishDate.Value.ToShortDateString()
                </dd>
            }
            <dt>
                Фото
            </dt>

            <dd>
                @*TODO: Add gallery here*@
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("На предыдущую страницу", "Index")
    </p>
</div>