@using DniproFuture.Models
@model DniproFuture.Models.NeedHelp

@{
    ViewBag.Title = "Редактирование";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            @{
                var local = Model.NeedHelpLocalSet.ElementAt(0);
            }
            <h4>@string.Format("{0} {1} {2}", local.FirstName, local.Patronymic, local.LastName)</h4>
            <hr/>
            @Html.ValidationSummary(true, "", new {@class = "text-danger"})
            @Html.HiddenFor(model => model.Id)


            @for (int i = 0; i < Model.NeedHelpLocalSet.Count; i++)
            {
                <div class="form-group">
                    <label class="control-label col-md-2 col-md-offset-1">@ViewBag.Languages[i].LanguageCode</label>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Имя</label>
                    <div class="col-md-10">
                        <input aria-invalid="false" class="form-control text-box single-line valid" id="FirstName" name="NeedHelpLocalSet[@i].FirstName" value="@Model.NeedHelpLocalSet.ElementAt(i).FirstName" type="text">

                        @Html.ValidationMessageFor(model => Model.NeedHelpLocalSet.ElementAt(i).FirstName, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Отчество</label>
                    <div class="col-md-10">
                        <input aria-invalid="false" class="form-control text-box single-line valid" id="Patronymic" name="NeedHelpLocalSet[@i].Patronymic" value="@Model.NeedHelpLocalSet.ElementAt(i).Patronymic" type="text">

                        @Html.ValidationMessageFor(model => Model.NeedHelpLocalSet.ElementAt(i).Patronymic, "", new {@class = "text-danger"})
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Фамилия</label>
                    <div class="col-md-10">
                        <input aria-invalid="false" class="form-control text-box single-line valid" id="LastName" name="NeedHelpLocalSet[@i].LastName" value="@Model.NeedHelpLocalSet.ElementAt(i).LastName" type="text">

                        @Html.ValidationMessageFor(model => Model.NeedHelpLocalSet.ElementAt(i).LastName, "", new {@class = "text-danger"})
                    </div>
                </div>


                <div class="form-group">
                    <label class="control-label col-md-2">Адрес</label>
                    <div class="col-md-10">
                        <input aria-invalid="false" class="form-control text-box single-line valid" id="Address" name="NeedHelpLocalSet[@i].Address" value="@Model.NeedHelpLocalSet.ElementAt(i).Address" type="text">

                        @Html.ValidationMessageFor(model => Model.NeedHelpLocalSet.ElementAt(i).Address, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Информация</label>
                    <div class="col-md-10">
                        <textarea class="form-control" cols="20" id="About" name="NeedHelpLocalSet[@i].About" rows="3">@Model.NeedHelpLocalSet.ElementAt(i).About</textarea>
                        @Html.ValidationMessageFor(model => Model.NeedHelpLocalSet.ElementAt(i).About, "", new {@class = "text-danger"})
                    </div>
                </div>
                <hr>
            }

            <div class="form-group">
                <label class="control-label col-md-2">Дата рождения</label>
                <div class="col-md-10">
                    <div class='input-group date' id='datetimepickerBirthday'>
                        <input type='text' class="form-control" name="Birthday" value="@Model.Birthday"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Нужно собрать</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NeedSum, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NeedSum, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Собрано</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sum, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessageFor(model => model.Sum, "", new {@class = "text-danger"})
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Сбор закончен?</label>
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Done)
                        @Html.ValidationMessageFor(model => model.Done, "", new {@class = "text-danger"})
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-md-2">Дата начала сбора</label>
                <div class="col-md-10">
                    <div class='input-group date' id='datetimepickerStartDate'>
                        <input type='text' class="form-control" name="StartDate" value="@Model.StartDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">Дата окончания сбора</label>
                <div class="col-md-10">
                    <div class='input-group date' id='datetimepickerFinishDate'>
                        <input type='text' class="form-control" name="FinishDate" value="@Model.FinishDate" /><span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                    @Html.ValidationMessageFor(model => model.FinishDate, "", new { @class = "text-danger" })
                </div>
            </div>

            @* TODO: Придумать, как редактировать загруженные фотографии *@
            @*<div class="form-group">
                <label class="control-label col-md-2">Фото</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Photos, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Photos, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Схранить изменения" class="btn btn-default"/>
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("На предыдущую страницу", "Index")
    </div>
</div>