@using System.Linq
@using System.Web.Mvc.Html
@using DniproFuture.Models
@using DniproFuture.Models.Extentions
@model System.Collections.Generic.IEnumerable<DniproFuture.Models.NeedHelp>

@{
    ViewBag.Title = "Нуждаются в помощи";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>@ViewBag.Title</h2>

    <p>
        @Html.ActionLink("Добавить человека", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                ФИО
            </th>
            <th>
                Нужно
            </th>
            <th>
                Собрано
            </th>
            <th>
                Дата начала сбора
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            NeedHelpLocalSet local = item.NeedHelpLocalSet.ElementAt(0);
            <tr>
                <td>
                    @Html.Label(string.Format("{0} {1} {2}", local.FirstName, local.Patronymic, local.LastName))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NeedSum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @item.StartDate.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}) |
                    @Html.ActionLink("Подробности", "NeedHelpDetails", "Home", new { name = local.GetFullName().GetStringForUrl() }, null) |
                    @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>
</div>