@using DniproFuture.Models
@model DniproFuture.Models.News

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>Подробности</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                Заголовок
            </dt>
            @foreach (NewsLocalSet local in Model.NewsLocalSet)
            {
                <dd>@local.Title - @local.Language.LanguageCode</dd>
            }
            <hr />

            <dt>
                Текст
            </dt>
            @foreach (NewsLocalSet local in Model.NewsLocalSet)
            {
                <dd>@local.Text - @local.Language.LanguageCode</dd>
            }
            <hr />


            <dt>
                Дата
            </dt>

            <dd>
                @Model.Date.ToShortDateString()
            </dd>

            <dt>
                Фото
            </dt>

            <dd>
                @{
                    Html.RenderPartial("Gallery", new GalleryModel() {Photos = Model.Images.Split(new char[] {';'}, StringSplitOptions.RemoveEmptyEntries).ToList(), Type = GalleryType.News});
                }
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("На предыдущую страницу", "Index")
    </p>
</div>