@using DniproFuture.Models
@model System.Collections.Generic.IEnumerable<DniproFuture.Models.News>

@{
    ViewBag.Title = "Index";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>Новости</h2>

    <p>
        @Html.ActionLink("Добавить новость", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Заголовок
            </th>
            <th>
                Дата
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            NewsLocalSet local = item.NewsLocalSet.ElementAt(0);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => local.Title)
                </td>
                <td>
                    @item.Date.ToShortDateString()
                </td>
                <td>
                    @Html.ActionLink("Редактировать", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Подробности", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>