@model DniproFuture.Models.Mail

@{
    ViewBag.Title = "Delete";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">
    <h2>Delete</h2>

    <h3>Вы уверены, что хотите удалить это сообщение?</h3>
    <hr/>
    <div>
        <div>
            <h4>@Model.Name</h4>
            @if (Model.Email != null)
            {
                <p>
                    <a href="mailto:@Model.Email">Ответить: @Model.Email</a>
                </p>
            }
            @if (Model.Phone != null)
            {
                <p>
                    <a href="tel:@Model.Phone">Позвонить: @Model.Phone</a>
                </p>
            }
            <p>
                @Model.Message
            </p>
        </div>
        <hr/>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("На предыдущую страницу", "Index")
            </div>
        }
    </div>
</div>