@model DniproFuture.Models.Mail

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <div>
        <h4>@Model.Name</h4>
        @if (Model.Email != null)
        {
            <p><a href="mailto:@Model.Email">Ответить: @Model.Email</a>
            </p>
        }
        @if (Model.Phone != null)
        {
            <p><a href="tel:@Model.Phone">Позвонить: @Model.Phone</a>
            </p>
        }
        <p>
            @Model.Message
        </p>
    </div>
    <hr/>
    <p>
        @Html.ActionLink("На предыдущую страницу", "Index")
    </p>
</div>