@model DniproFuture.Models.Mail

<tr class="hovered" onclick="location.href = '@Url.Action("Details", "Mails", new { id = Model.Id })'; ">
    <td>
        @if (Model.Name != null)
        {
            @Html.DisplayFor(modelItem => Model.Name)
        }
        else
        {
            @Html.Raw("Анонимное сообщение");
        }
    </td>
    <td>
        @if (Model.Email != null)
        {
            @Html.DisplayFor(modelItem => Model.Email)
        }
        else
        {
            @Html.Raw("Не указан");
        }
    </td>
    <td>
        @if (Model.Phone != null)
        {
            @Html.DisplayFor(modelItem => Model.Phone)
        }
        else
        {
            @Html.Raw("Не указан")
            ;
        }
    </td>
    <td>
        @if (Model.Date.HasValue)
        {
            @Html.Raw(string.Format("{0} {1}", Model.Date.Value.ToLongTimeString(), Model.Date.Value.ToShortDateString()))
        }
    </td>
    <td>
        @Html.ActionLink("Удалить", "Delete", new { id = Model.Id })
    </td>
</tr>
