@model DniproFuture.Models.Mail
<tr class="hovered" onclick="location.href = '@Url.Action("Details", "Mails", new { id = Model.Id })';">
    <td>
        <b>
            @if (Model.Name != null)
            {
                @Html.DisplayFor(modelModel => Model.Name)

            }
            else
            {
                @Html.Raw("Анонимное сообщение");
            }
        </b>
    </td>
    <td>
        <b>
            @if (Model.Email != null)
            {
                @Html.DisplayFor(modelModel => Model.Email)
            }
            else
            {
                @Html.Raw("Не указан");
            }
        </b>
    </td>
    <td>
        <b>
            @if (Model.Phone != null)
            {
                @Html.DisplayFor(modelModel => Model.Phone)
            }
            else
            {
                @Html.Raw("Не указан")
                ;
            }
        </b>
    </td>
    <td>
        <b>

            @if (Model.Date.HasValue)
            {
                @Html.Raw(string.Format("{0} {1}", Model.Date.Value.ToLongTimeString(), Model.Date.Value.ToShortDateString()))
            }
        </b>
    </td>
    <td>
        @Html.ActionLink("Удалить", "Delete", new { id = Model.Id })
    </td>
</tr>
