<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.AboutTitle</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="Content/img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>@ViewRes._HomeStrings.About_1_Date</h4>
                                <h4 class="subheading">@ViewRes._HomeStrings.About_1_SubTitle</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">@ViewRes._HomeStrings.About_1_Txt</p>
                            </div>
                        </div>
                    </li>                    
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>@MvcHtmlString.Create(ViewRes._HomeStrings.AboutFuture)
                            </h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

