@using System.Activities.Statements
@model DniproFuture.Models.OutputModels.NeedHelpOutputModel

<div>
    @if (Model.Photos.Count > 0)
    {
        <img class="img-responsive img-circle" src="@Url.Content("~/Content/img/NeedHelp/" + Model.Photos[0])" alt="">
    }
    <p class="text-muted">@Model.Birthday.ToShortDateString()</p>
    @{int percent = (int) ((Model.Summ/Model.NeedSum)*100);}
    <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
        </div>
    </div>
    <p class="percent-text">@string.Format("{0}{2}/{1}{2}", @Model.Summ, @Model.NeedSum, @ViewRes._HomeStrings.Grn)</p>
</div>