@model DniproFuture.Models.OutputModels.NeedHelpOutputModel[]

<!--Donation Section -->
<section id="donation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.DonationTitle</h2>
                <h3 class="section-subheading text-muted">@ViewRes._HomeStrings.DonationSubTitle</h3>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.Length; i++)
            {
                if (Model[i].FullName != null)
                {
                    <div class="col-md-4">
                        <h2 class="text-center">@Model[i].FullName</h2>
                        @{ Html.RenderPartial("DonationInfo", Model[i]); }
                        <p class="text-right">
                            <a align="right" href="@Url.Action("NeedHelpDetails", new {id = Model[i].Id})">
                                @ViewRes._HomeStrings.NewsDetails
                            </a>
                        </p>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="btn btn-primary center-block btn-xl" onclick="location.href='@Url.Action("NeedHelpIndex")';">@ViewRes._HomeStrings.DonationMore</button>
            </div>
        </div>

    </div>
</section>