@model DniproFuture.Models.DonationOutputModel[]

<!--Donation Section -->
<section id="donation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.DonationTitle</h2>
                <h3 class="section-subheading text-muted">@ViewRes._HomeStrings.DonationSubTitle</h3>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < Model.Length; i++)
            {
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="@Url.Content("~/Content/img/NeedHelp/" + Model[i].Photos[0])" class="img-responsive img-circle" alt="">
                        <h4>@Model[i].FullName</h4>
                        <p class="text-muted">@Model[i].Age лет (@Model[i].Birthday.ToShortDateString())</p>
                        @{int percent = (int)((Model[i].Summ / Model[i].NeedSum) * 100);}
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                @string.Format("{0}/{1}", @Model[i].Summ, @Model[i].NeedSum)
                            </div>
                        </div>
                    </div>
                    <p class="text-right"><a align="right" data-toggle="modal" href="#DonationModal_@i">@ViewRes._HomeStrings.NewsDetails</a></p>
                </div>
            }
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-right">
                <a href="@Url.Action("NeedHelpIndex")"><p class="large text-muted">@ViewRes._HomeStrings.DonationMore</p></a>
            </div>
        </div>
    </div>
</section>

<!--Donation Modal's-->
@for (int i = 0; i < Model.Count(); i++)
{
    <div class="portfolio-modal modal fade" id="DonationModal_@i" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Details Go Here -->
                            <h2>@Model[i].FullName</h2>
                            <div class="text-justify">
                                <div class="modal-info-content">
                                    <img class="img-responsive" src="@Url.Content("~/Content/img/NeedHelp/" + Model[i].Photos[0])" alt="">
                                    <p class="text-muted">@Model[i].Age лет (@Model[i].Birthday.ToShortDateString())</p>
                                    @{int percent = (int)((Model[i].Summ / Model[i].NeedSum) * 100);}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                            @string.Format("{0}/{1}", @Model[i].Summ, @Model[i].NeedSum)
                                        </div>
                                    </div>
                                </div>
                                @MvcHtmlString.Create(Model[i].About)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">                    
                    @if (Model[i].Photos.Count > 1)
                    {
                        <!--Add gallery-->
                    }
                </div>
                <div class="row">
                    <button type="button" class="btn btn-primary btn-modal" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                </div>
            </div>
        </div>
    </div>
}