@using System
@model DniproFuture.Models.HelpNowOutputModel
<!-- Services Section -->
<style>
    ul .mymodal {         
          padding:0 0 0 0;
          margin:0 0 0 0;
          list-style:none;
          margin-bottom:25px;
          cursor: pointer;
      }
      ul li .mymodal {     
                  
      }
      ul li img .mymodal {
          
      }
</style>
<section id="helpNow" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.HelpNowTitle</h2>
                @*<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>*@
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6">
                <div class="col-md-6 col-md-offset-3">
                    <img src="@Url.Content("~/Content/img/NeedHelp/")" class="img-responsive img-circle" />
                </div>
            </div>
            <div class="col-md-6">
                <h4 class="service-heading">@ViewRes._HomeStrings.HelpNowTxt</h4>
                <div class="portfolio-link btn btn-xl" data-toggle="modal" href="#portfolioModal1">@ViewRes._HomeStrings.HelpNowBtnTxt</div>
            </div>
        </div>
    </div>
</section>

<!-- HelpNow Modal-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2>@ViewRes._HomeStrings.HelpNowTitle</h2>
                        <img class="img-responsive" src=@Url.Content("~/Content/img/NeedHelp/") alt="">
                        
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

