@using DniproFuture.Models
@model DniproFuture.Models.OutputModels.HelpNowOutputModel

@{
    ViewBag.Title = "Details";
    Layout = "../Shared/_OtherLayout.cshtml";
}
<div class="container customContainer">
    <div class="row">
            <div class="col-md-12">
                <!-- Details Go Here -->
                <h2 class="text-center">@Model.FullName</h2>
                <div class="text-justify">
                    <div class="text-center halfBlock-content">
                        <img class="img-responsive" src="@Url.Content("~/Content/img/NeedHelp/" + Model.Photos[0])" alt="">
                        <p class="text-muted">@Model.Age лет (@Model.Birthday.ToShortDateString())</p>
                        @{int percent = (int)((Model.Summ / Model.NeedSum) * 100);}
                        <div class="progress">
                            <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="@percent" aria-valuemin="0" aria-valuemax="100" style="width: @percent%;">
                                @string.Format("{0}/{1}", @Model.Summ, @Model.NeedSum)
                            </div>
                        </div>
                    </div>
                    @MvcHtmlString.Create(Model.About)
                </div>
                @if (Model.Photos.Count != 1)
                {
                    <!--Add gallery here-->
                }
        </div>
    </div>
    <div class="row">
        <a href="@Request.UrlReferrer"><div type="button" class="btn btn-primary"><i class="fa fa-backward"></i>Назад</div></a>
    </div>
</div>