@using DniproFuture.Models
@model DniproFuture.Models.NewsOutputModel[]
<section id="news">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.NewsTitle</h2>
            </div>
        </div>
        <div class="row">
            @for (int i = 0; i < 3; i++)
            {
                if (Model[i] != null)
                {
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="@Url.Content("~/Content/img/News/" + Model[i].Photo[0])" class="img-responsive img-circle" alt="">
                            <h5>@Model[i].Title</h5>
                            <p class="text-muted text-justify">@Model[i].ShortText ...</p>
                            <p class="text-muted text-left">@Model[i].Date.ToShortDateString()</p>
                            <p class="text-right">
                                <a align="right" href="@Url.Action("NewsDetails", new { id = Model[i].Id })">
                                    @ViewRes._HomeStrings.NewsDetails
                                </a>
                            </p>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <button type="button" class="btn btn-primary center-block btn-xl" data-dismiss="modal" onclick="location.href='@Url.Action("NewsIndex")';">@ViewRes._HomeStrings.NewsMore</button>
            </div>
        </div>
    </div>
</section>
