@using DniproFuture.Models
@model DniproFuture.Models.OutputModels.NewsOutputModel
@{
    Layout = "../Shared/_OtherLayout.cshtml";
}

<div class="container customContainer">
    <div class="row">
        <div class="col-md-12">
            <!-- Details Go Here -->
            <h2 class="text-center">@Model.Title</h2>
            <p class="text-muted text-center">@Model.Date.ToShortDateString()</p>
            <div class="text-justify">
                <div class="text-center col-md-4">
                    @if (Model.Photo.Count > 0)
                    {
                        <img class="img-responsive" src="@Url.Content("~/Content/img/News/" + Model.Photo[0])" alt="">
                    }
                </div>
                @MvcHtmlString.Create(Model.Text)
            </div>
        </div>
        @if (Model.Photo.Count > 1)
        {
            Html.RenderPartial("Gallery", new GalleryModel() { Photos = Model.Photo, Type = GalleryType.News });
        }
    </div>
    <div class="row page-header">
        <a href="@Request.UrlReferrer">
            <div type="button" class="btn btn-primary">
                <i class="fa fa-backward"></i>@ViewRes._HomeStrings.Back
            </div>
        </a>
    </div>
</div>
