@using DniproFuture.Models
@model DniproFuture.Models.NewsOutputModel[]

<section id="news" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.NewsTitle</h2>
            </div>
        </div>
        <div class="row">
            @foreach (NewsOutputModel news in Model)
            {
                if (news != null)
                {
                    <div class="col-sm-4">
                        <div class="team-member">
                            <img src="@Url.Content("~/Content/img/News/" + news.Photo)" class="img-responsive img-circle" alt="">
                            <h5>@news.Title</h5>
                            <p class="text-muted">@news.ShortText</p>
                            <p class="text-muted">@news.Date.ToShortDateString()</p>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="row">
            <div class="col-sm-4" >
                
            </div>
            <div class="col-sm-4" >
                <button type="button" class="btn btn-primary center-block btn-xl" data-dismiss="modal" onclick="location.href='@Url.Action("Index", "News")';">Больше новостей</button>
            </div>
            <div class="col-sm-4" >
                
        </div>
    </div>
</section>

