@using System.Web.UI.WebControls
@using DniproFuture.Models
@using DniproFuture.Models.OutputModels
@model PartnersModel
<!-- Partners Section -->
<section id="partners" class="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">@ViewRes._HomeStrings.PartnersTitle</h2>
            </div>
        </div>
        <div class="row">
            @foreach (PartnersOutputModel partners in Model.RandomPartners)
            {
                <div class="col-md-3 col-sm-6 portfolio-item">
                    <img src="@Url.Content("~/Content/img/Partners/" + partners.Logo)" class="img-responsive text-muted" alt="">
                    <div class="portfolio-caption">
                        <a href="@partners.Link"><h4>@partners.Title</h4></a>
                    </div>
                </div>

            }
        </div>
        <div class="row text-center">
            <div class="portfolio-link btn btn-xl" data-toggle="modal" href="#PartnersModal">
                @ViewRes._HomeStrings.PartnersAll
            </div>
        </div>
    </div>
</section>

<!-- Partners Modal -->
<div class="portfolio-modal modal fade" id="PartnersModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="modal-body">
                    <!-- All Partners Go Here -->
                    <h2>@ViewRes._HomeStrings.PartnersAll</h2>
                    <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                    @for (int i = 0; i < Model.AllPartners.Length; i += 4)
                    {
                        <div class="row">
                            @for (int j = 0; j < 4; j++)
                            {
                                if (i + j < Model.AllPartners.Length)
                                {
                                    <div class="col-md-3 col-sm-6 portfolio-item">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img src="@Url.Content("~/Content/img/Partners/" + Model.AllPartners[i+j].Logo)" class="img-responsive" alt="">
                                        <div class="portfolio-caption">
                                            <a href="@Model.AllPartners[i+j].Link"><h4>@Model.AllPartners[i + j].Title</h4></a>
                                        </div>
                                    </div>

                                }
                            }
                        </div>
                    }
                    <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> @ViewRes._HomeStrings.HowModalBtn</button>
                </div>
            </div>
        </div>
    </div>
</div>