@using System.Linq
@model DniproFuture.Models.Partners

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h3>Вы уверены, что хотите удалить партнера?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayFor(modelItem => Model.PartnersLocalSet.ElementAt(0).Name)
            </dt>

            <dd>
                <img src="@Url.Content("~/Content/img/Partners/" + @Model.Logo)" height="50px" />
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Удалить" class="btn btn-danger" /> |
                @Html.ActionLink("На предыдущую страницу", "Index")
            </div>
        }
    </div>
</div>