@using PagedList
@using PagedList.Mvc
@model IPagedList<DniproFuture.Models.Partners>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container customContainer">

    <h2>Партнеры</h2>

    <p>
        <div class="btn btn-warning" onclick="location.href = '@Url.Action("Create", "Partners")'; ">
            Добавить партнера
        </div>
    </p>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                Название
            </th>
            <th>
                Лого
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PartnersLocalSet.ElementAt(0).Name)
                </td>
                <td>
                    <img src="@Url.Content("~/Content/img/Partners/" + @item.Logo)" height="50px"/>
                </td>
                <td>
                    @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                </td>
            </tr>
        }

    </table>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 text-right">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
    </div>

</div>